/**
 * Styling for the footer section.
 */

body {
  #page {
    .footer-container {
      max-width: 100%;
      width: 100%;
      background-color: $primary-dark-blue;
      p {
        color: $primary-white;
      }
      #footer {
        max-width: 1020px;
        margin: auto;
        color: $primary-white;
        display: block;
        font-size: .87rem;
        font-weight: 300;
        @include breakpoint(smedium) {
          display: flex;
          flex-direction: row;
        }
        .block {
          flex: 1 0 0;
          @include breakpoint(smedium) {
            flex: 1;
          }
          padding: 30px 0;
        }
        a {
          color: $primary-white;
          text-decoration: none;
          font-size: .87rem;
          font-weight: 300;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
        .block-menu-block {
          margin: 0 20px;
          border-bottom: 1px dotted $primary-white;
          @include breakpoint(smedium) {
            border-bottom: none;
          }
          ul.menu {
            margin: 0;
            li.menu__item {
              margin-bottom: 10px;
              min-height: inherit;
            }
          }
        }
        #block-bean-follow-us {
          @include breakpoint(smedium) {
            text-align: right;
          }
          margin: 0 20px;
          .field-name-field-bean-text {
            margin: 0;
            p {
              margin: 0;
              display: inline-block;
            }
            .field-items {
              ul {
                display: inline-block;
                margin: -10px 0 0;
                li {
                  display: inline-block;
                  padding-left: 10px;
                  .media-element-container {
                    margin-bottom: 0;
                    .content a {
                      img {
                        max-width: 30px;
                        width: 30px;
                        margin-bottom: -10px;
                      }
                      &:hover,
                      &:focus {
                        img {
                          opacity: 0.75;
                        }
                      }
                    }
                  }
                }
              }
              .helpline {
                text-align: right;
                margin-top: -15px;
                @include breakpoint(smedium) {
                  padding-top: 10px;
                  margin-top: 0;
                }
                p::before {
                  content: url(../images/phone-icon-passports.png);
                  padding-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
