/**
 * Styling for media on the site (images).
 */

.media-full_width_scaled {
  width: 100%;
}
.media-full_width_cropped {
  width: 100%;
}
.media-half_width_scaled {
  width: 100%;
  @include breakpoint(xsmall) {
    width: 50%;
  }
}
.media-third_width_scaled {
  width: 100%;
  @include breakpoint(xsmall) {
    width: 50%;
  }
  @include breakpoint(small) {
    width: 33%;
  }
}
.media-quarter_width_scaled {
  width: 100%;
  @include breakpoint(xsmall) {
    width: 50%;
  }
  @include breakpoint(small) {
    width: 25%;
  }
}
.media {
  &.media-element-container {
    margin-bottom: 10px;
  }
  .content {
    a {
      .field-name-field-image-caption {
        color: $secondary-pale-green;
        transition: all .2s ease-in-out;
        text-decoration: underline;
      }
      &:hover,
      &:focus {
        .field-name-field-image-caption {
          text-decoration: none;
          transition: all .2s ease-in-out;
        }
        transition: all .2s ease-in-out;
        img {
          transition: all .2s ease-in-out;
          filter: contrast(1.1);
        }
      }
    }
    .field-name-field-image-caption {
      margin: 0;
      padding: 10px;
      background-color: $primary-dark-grey;
      color: $primary-white;
      font-weight: 300;
      font-size: .9rem;
    }
  }
}
