/**
 * Styling for the read speaker plugin.
 */

.breadcrumbs-wrapper {
  position: relative;
  .pnlSpeakerClass {
    max-width: 1020px;
    margin: 0 auto;
    #readspeaker_button1 {
      @include breakpoint(small) {
        position: absolute;
        right: 20px;
        top: 20px;
        padding: 0;
      }
      a.rsbtn_play {
        padding: 20px 0 0;
        @include breakpoint(small) {
          padding: 0;
        }
      }
      .rsbtn_exp {
        padding: 20px 0 0;
        @include breakpoint(small) {
          padding: 0;
        }
        .rsbtn_powered {
          top: 48px;
          @include breakpoint(small) {
            top: 28px;
          }
        }
        .rsbtn_status_overlay {
          top: 21px;
          @include breakpoint(small) {
            top: 1px;
          }
        }
      }
    }
  } 
}
