/**
 * Variable declarations.
 */

/**
 * Fonts.
 */
// See the html.tpl.php template for font inclusion.
$font-stack-sans: 'Source Sans Pro', sans-serif;

/**
 * Colours.
 */
$primary-purple: #2b3c89;
$primary-white: #fff;
$primary-dark-blue: #161e45;
$secondary-dark-blue: #12355f;
$primary-aqua: #0a7888;
$secondary-aqua: #0da2b8;
$tertiary-aqua: #0086b1;
$quarternary-aqua: #269ed1;
$primary-light-green: #daebee;
$primary-pale-green: #f5fafa;
$primary-dark-green: #123559;
$secondary-pale-yellow: #eadfc9;
$secondary-pale-green: #e7f2f3;
$primary-dark-grey: #29363f;
$primary-grey: #e2e2e2;
$secondary-grey: #c6c6c6;
