$primary-purple: #2B3C89;
$primary-white: #FFF;
$primary-dark-blue: #161E45;
$secondary-dark-blue: #12355F;
$primary-aqua: #0A7888;
$secondary-aqua: #0DA2B8;
$tertiary-aqua: #0086B1;
$quarternary-aqua: #269ed1;
$primary-light-green: #DAEBEE;
$primary-pale-green: #F5FAFA;
$primary-dark-green: #123559;
$secondary-pale-yellow: #EADfC9;
$secondary-pale-green: #E7F2F3;
$primary-dark-grey: #29363F;
$primary-grey: #E2E2E2;
$secondary-grey: #C6C6C6;
