// styling for the news preview cards
html {
  #page {
    .view-news {
      .view-content {
        .item-list {
          > ul {
            list-style-type: none;
            margin: 0;
            li.views-row {
              margin: 0;
              padding: 0;
              border-top: none;
              border-bottom: 1px dotted black;
            }
          }
        }
      }
      .view-footer {
        text-align: center;
        margin-top: 20px;
      }
    }
    .node-news-article {
      position: relative;
      padding: 0 0 25px;
      &.view-mode-teaser {
        margin: 0;
        .field-name-body {
          margin: 0 0 20px;
        }
        .field-name-title {
          margin: 10px 0;
          a {
            color: $primary-aqua;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            &:hover,
            &:focus {
              font-weight: 500;
              text-decoration: underline;
              color: $tertiary-aqua;
            }
          }
        }
        .field-name-field-news-date {
          display: inline-block;
          margin: 0;
          background-color: $secondary-pale-green;
          padding: 5px 10px;
          margin-bottom: 10px;
          @include breakpoint(xsmall) {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
          }
          .field-label {
            width: auto;
            font-weight: 400;
            padding-right: 5px;
          }
        }
        .field-name-node-link {
          display: inline;
          margin: 0;
          padding: 5px 0;
          @include breakpoint(xsmall) {
            position: absolute;
            display: inline-block;
            bottom: 0;
            right: 0;
          }
          a {
            height: 100%;
            width: 100%;
            padding: 5px 10px;
            background-color: $primary-aqua;
            color: $primary-white;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            &:hover,
            &:focus {
              color: $primary-white;
              background-color: $secondary-aqua;
            }
          }
        }
      }
      &.view-mode-full {
        .field-name-field-news-date {
          margin: 10px 0 20px;
          font-weight: 250;
        }
      }
    }
  }  
}
