/**
 * Styling for node pages of type "page".
 */

// This is targeting h tags that aren't on the home page
// to give them a heavier font weight.
// This is to better support the pages in languages other
// than English, which only display correctly in a few
// weights with the font being used.
.page-node {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
  }  
  a {
    font-weight: 400;
    &:hover,
    &:focus {
      font-weight: 450;
    }
  }
}

.node {
  &.ds-2col-fluid {
    .field {
      margin: 0;
    }
    &.group-one-column {
      .group-left {
        width: 100%;
        float: none;
        padding-right: 0;
      }
      .group-right {
        width: 100%;
        float: none;
        padding-left: 0;
      }
    }
    .group-left {
      width: 100%;
      float: none;
      padding-right: 0;
    }
    .group-right {
      width: 100%;
      float: none;
      padding-left: 0;
      padding-top: 0;
    }
    @include breakpoint(small) {
      .group-left {
        float: left;
        width: 70%;
        padding-right: 10px;
      }
      .group-right {
        float: right;
        width: 30%;
        padding-left: 10px;
      }
    }
  }
}
