/**
 * Styling for the website that fixes the breaks in legacy browsers.
 */

html.lte-ie9 {
  .region-nav-container {
    .region-navigation {
      display: block;
      .block-superfish {
        display: inline-block;
        &.first {
          width: 83%;
        }
        .block__content {
          display: inline-block;
        }
      }
      ul.sf-main-menu {
        display: inline-block;
        width: 100%;
        li {
          height: 100%;
          display: table-cell;
          width: 14.28%;
          table-layout: fixed;
          > ul {
            display: block;
            li {
              display: block;
              width: 100%;
            }
          }
        }
      }
      .block-search-api-page {
        width: 16.5%;
        height: 100%;
        vertical-align: top;
        .block__content {
          height: 100%;
          form {
            margin-top: 15px;
          }
        }
      }
    }
  }
  #page {
    #main {
      .gov-front-main {
        .gov-front-main-inner {
          display: table;
          .panel-pane.pane-block {
            display: inline-table;
            width: 100%;
            @include breakpoint(large) {
              margin: 0 5px;
              width: 32%;
            }
          }
        }
      }
      .gov-front-lower {
        .gov-front-lower-inner {
          .gov-front-left {
            .panel-display#mini-panel-further_information {
              margin-top: 10px;
              .panel-pane.pane-block {
                display: block;
                width: 100%;
                margin: 10px;
                @include breakpoint(smedium) {
                  vertical-align: top;
                  display: inline-block;
                  width: 31.5%;
                  margin: 5px;
                }
              }
              .entity-bean {
                &.bean-link {
                  a.wrapper-link {
                    background-color: $tertiary-aqua;
                    &:hover,
                    &:focus {
                      background-color: $secondary-dark-blue;
                    }
                  }
                }
              }
            }
          }
        }
      }
      ol.application-process,
      ul.application-process {
        li {
          width: 100%;
          padding: 10px 10px 10px 50px;
          margin: 0 0 20px;
          background-position: center left 10px;
          &::after {
            border-width: 5px 5px 0;
            border-color: #666666 transparent transparent transparent;
            left: 49%;
            top: 100%;
            margin-top: 7px;
          }
          &:last-child {
            &::after {
              content: none;
            }
          }
        }
      }
    }
    .footer-container {
      .region-footer#footer {
        width: 100%;
        display: block;
        padding: 0;
        @include breakpoint(smedium) {
          padding: 0 20px;
          display: table;
        }
        .block {
          display: block;
          @include breakpoint(smedium) {
            display: table-cell;
            width: 25%;
          }
        }
      }
    }
  }
}
