// Styling page for the drupal error messages.

.front {
  .message-wrapper {
    padding: 20px;
  }
}
.message-wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px 0;
  .messages {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
