/**
 * Styles for elements inside the WYSIWYG editor.
 */

body.cke_editable {
  // Don't use flex.
  display: block;
  padding: 0 10px;
  a.button {
    text-decoration: none !important;
  }
  table {
    border-spacing: 0;
    tbody {
      th {
        background-color: none;
      }
    }
  }
}
